.pin-hotspot {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0); 
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;
  pointer-events: auto;
  width:fit-content;
}


.pin-label {
  position: absolute;
  bottom: 100%; 
  white-space: nowrap;
  transform: translateX(-1%);
  margin-bottom: 4px;
  color: var(--color-white);
  font-size: var(--font-size-pin-label);
  padding: 0 4px;
  border-radius: 4px;
}

.pin-icon {
  display: block;
  margin: 0 auto;
}

.sombra {
  filter: drop-shadow(2px 1px 4px rgba(0,0,0,0.5));
  text-shadow: 0.5px 0px 1px rgba(24, 24, 24, 0.5);

}


