:root {
  /* Colores */
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #29EA66;
  --color-primary-alt: #29ea66;
  --color-secondary: #FACF04;
  --color-secondary-alt: #FACF0499;


}
